[Unit]
Description=Server Rock Paper Scissors

After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/ec2-user/rock-paper-scissors-master/dist/server

[Install]
WantedBy=multi-user.target
