[Unit]
Description=Server Rock Paper Scissors

After=network-online.target
Wants=network-online.target

[Service]
Type=exec
Restart=always
RestartSec=5s
Environment=GIN_MODE=release
WorkingDirectory=/home/ec2-user/rock-paper-scissors-master
ExecStart=/home/ec2-user/rock-paper-scissors-master/server

[Install]
WantedBy=multi-user.target
