<form hx-post="/create-game" hx-target="body" hx-swap="outerHTML">
 <div class="form-group">
    <label>Nickname</label>
    <input type="text" name="nickname" value="joe@blow">
  </div>
  <button class="btn-default">Submit</button>
</form>
