<main id="main" hx-swap-oob="beforeend:#main">
  <div class="game" hx-ext="ws" ws-connect="/gameroom/{{ .room }}">
    <div class="game-container">
      <p>You picked</p>

      <div class="choice {{ .choice }}">
        <choice-button choice="{{ .choice }}"></choice-button>
      </div>
    </div>
    <div id="pick" class="game-container">
      <p>The house picked</p>

      <div 
        class="house-pick" 
      />
    </div>
  </div>
</main>
