<main id="main">
  <div class="game">
    <div class="game-container">
      <p>You picked</p>

      <div class="choice {{ .choice }}">
        <choice-button choice="{{ .choice }}"></choice-button>
      </div>
    </div>
    <div class="game-container">
      <p>The house picked</p>

      <div 
        class="house-pick" 
        hx-get="/result?user={{ .choice }}" 
        hx-trigger="every 1s"
        hx-target="body"
        hx-swap="outterHTML"
      />
    </div>
  </div>
</main>
