<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <title>{{ .title }}</title>
  <script
    src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"
  >
  </script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <link rel="stylesheet" href="styles/styles.css" />
</head>

<body>
  <header class="score-header">
    <img src="images/logo.svg" alt="logo" />
    <!--
    {{ block "score" .}}
    <div class="score">
      <p>{{ .user }} score</p>
      <span id="score-value">{{ .score }}</span>
    </div>
    {{ end }}
    -->
  </header>

  {{ if .room }}
    {{ template "choose" .}}
  {{ else }}
    {{ template "main" .}}
  {{ end}}

  <div id="alert">
  </div>
  <script src="components/choice-button.js"></script>
  <script>
    document.body.addEventListener("htmx:responseError", function(e) {
        const ALERT = document.getElementById("alert")
        error = e.detail.xhr.response;
        ALERT.innerHTML = error
        ALERT.style.display = 'block'
        setTimeout(() => {
          ALERT.innerHTML = ''
          ALERT.style.display = 'none'
        }, 3000)
    })
    document.body.addEventListener("htmx:configRequest", function(e) {
      const originalUri = e.detail.path
      const isDev = e.detail.headers['HX-Current-URL'].includes("localhost")
      if (originalUri && !isDev) {
        e.detail.path = `/rock-paper-scissors${originalUri}`
        document.location.hostname = location.hostname + '/rock-paper-scissors'
      }
    })
    document.body.addEventListener("htmx:wsConnecting", function (e) {
      console.log('ws', e)
    })
  </script>

</body>

</html>
