
<body>
  <header class="score-header">
    <img src="../images/logo.svg" alt="logo" />
    <div class="score">
      <p>{{ .user }} score</p>
      <span id="score-value">{{ .score }}</span>
    </div>
  </header>
  <main id="main">
    <div class="main-container">
      <ul>
        {{ range .rooms }}
          <li>
            Jogar contra {{ .Creator }}
          </li>
        {{ end }}
      </ul>
    </div>
  </main>

  <script src="../components/choice-button.js"></script>
</body>

