{{ block "main" .}}
<main id="main">
  <h1 class="main-title">Choose an option to start playing</h1>
  <div id="main-container" class="main-container">

    <div class="rooms-container">
      <ul>
        {{ range .rooms }}
          <li class="rooms-li">
            Sala de {{ .Player1.Nick }}
            <button
              hx-get="/join-game-form/{{ .Id }}" 
              hx-target="closest div"
              hx-swapt="outerHTML"
              class="btn-default"
            >
              Join
            </button>
          </li>
        {{ end }}
      </ul>
    </div>

    <button 
      hx-get="/create-game-form" 
      hx-target="#main-container"
      hx-swap="outerHTML"
      class="btn-default btn-create"
    >
      Create Game
    </button>

  </div>
</main>
{{ end }}

{{ block "gameform" .}}
<div class="main-container">
  <form class="nick-form" hx-post={{ if .join }} "/join-game/{{ .room }}" {{ else }} "/create-game" {{end}} hx-target="#main" hx-swap="outerHTML">
    <div class="form-group">
      <label>Nickname</label>
      <input type="text" name="nickname" value="joe@blow">
    </div>
    <button class="btn-default btn-create">Submit</button>
  </form>
</div>
{{ end }}

{{ block "choose" .}}
<div id="container" hx-swap-oop="innerHTML">
  <div  class="container">
    <div class="choice paper">
      <choice-button choice="paper"></choice-button>
    </div>
    <div class="choice scissors">
      <choice-button choice="scissors"></choice-button>
    </div>
    <div class="choice rock botton-item">
      <choice-button choice="rock"></choice-button>
    </div>
  </div>
</div>
{{end}}

{{ block "choice" .}}
<div id="container" hx-swap-oop="innerHTML">
  <div id="await-opponent" class="game-container">
    <p>You picked</p>

    <div class="choice {{ .choice }}">
      <choice-button choice="{{ .choice }}"></choice-button>
    </div>
  </div>

  <div id="pick" class="game-container">
    {{if .player2 }}
      <p>Opponent is {{.player2}}</p>
    {{else}}
      <p>Awaiting opponent</p>
    {{end}}
    
    <div 
      class="house-pick" 
    />
  </div>
</div>
{{ end }}

{{ block "waiting" .}}
<main 
  id="main" 
  hx-ext="ws" 
  ws-connect="/gameroom?room={{ .room }}&user={{ .user }}"
>
  <div id="container" hx-swap-oop="innerHTML">
    <div id="pick" class="game-container">
        <p>Awaiting opponent</p>
      
      <div 
        class="house-pick" 
      />
    </div>
  </div>
</main>
{{ end }}

{{ block "game" .}}
<div 
  id="container" 
  hx-get="/start-game" 
  hx-trigger="load delay:4s" 
  hx-target="#container" 
  hx-swap="outerHTML"
>
  <div id="await-opponent" class="game-container">
    <p id="counter">The game is starting... In 3</p>

    <div 
      class="house-pick" 
    />
  </div>

  <div id="pick" class="game-container">
    <p>Opponent is {{.opponent }}</p>
    
    <div 
      class="house-pick" 
    />
  </div>
  <script>
    const counter = document.getElementById("counter")
    let time = 2
    setInterval(() => {
      if (time >= 0) { 
        counter.innerHTML = `The game is starting... In ${time}` 
        time--
      }
    }, 1000);
  </script>
</div>
{{ end}}
