<div id="container" class="game">
  <div class="game-container">
    <p>You picked</p>

    <div class="choice {{ .choice }}">
      <choice-button choice="{{ .choice }}" disabled></choice-button>
    </div>
  </div>
  
  <div class="result">
    <h1>YOU WIN</h1>
    <button  
      class="btn-default" 
      hx-get="/" 
      hx-trigger="click" 
      hx-target="html" 
      hx-swap="outerHTML"
    >
     PLAY AGAIN
    </button>

    <button 
      class="btn-default" 
      hx-get="/quit-game?room={{ .room }}&user={{ .user }}" 
      hx-trigger="click" 
      hx-target="#main"
    >
      QUIT GAME
    </button>
  </div>

  <div class="game-container">
    <p>{{ .opponent }} picked</p>

    <div class="choice {{ .house }}">
      <choice-button choice="{{ .house }}" disabled></choice-button>
    </div>
  </div>
</div>
